.contactsContainer {
    display: block;
    margin: 12px auto;
    width: fit-content;
  }
  
  .contactsList {
    list-style: none;
    padding: 0px;
  }
  
  .contact {
    margin: 6px auto;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
  
  .deleteContactBtn {
    width: fit-content;
    margin: 0 auto;
    padding: 6px 10px;
    font-size: 10px;
    background-color: #967e76;
    color: #ffffff;
    border: 0;
    border-radius: 6px;
    transition: all 200ms;
  }
  
  .deleteContactBtn:hover {
    background-color: #8a7067;
  }